In [1]:
import pandas as pd
import numpy as np
import math as m
import new_lib as nl
import datetime as dt

In [2]:
logs = nl.connect('curriculum_logs', 'logs.csv', '''SELECT * FROM cohorts AS c
JOIN `logs` AS l ON c.id = l.cohort_id;''')
logs

,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,date,time,path,user_id,cohort_id,ip
0,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847325,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
847326,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
847327,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
847328,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
847329,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

In [3]:
logs[logs.path.str.startswith('javascript-i/conditionals') == True]

,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id,date,time,path,user_id,cohort_id,ip
4,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
6,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,09:56:46,javascript-i/conditionals,3,22.0,97.105.19.61
21,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,10:05:26,javascript-i/conditionals,7,22.0,97.105.19.61
61,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,10:41:22,javascript-i/conditionals,19,22.0,97.105.19.61
89,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2,2018-01-26,11:25:23,javascript-i/conditionals,13,22.0,97.105.19.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846650,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2,2021-04-21,10:05:26,javascript-i/conditionals,972,139.0,97.117.115.55
846705,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2,2021-04-21,10:19:32,javascript-i/conditionals,975,139.0,68.203.215.174
846745,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2,2021-04-21,10:28:19,javascript-i/conditionals,957,139.0,76.185.197.205
846757,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2,2021-04-21,10:29:42,javascript-i/conditionals,955,139.0,70.121.220.245
846814,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2,2021-04-21,10:53:46,javascript-i/conditionals,979,139.0,107.77.219.39

In [4]:
logs = logs.drop(columns = ['slack', 'deleted_at', 'created_at', 'updated_at'])
logs

,id,name,start_date,end_date,program_id,date,time,path,user_id,cohort_id,ip
0,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,22,Teddy,2018-01-08,2018-05-17,2,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...,...,...,...,...,...,...,...
847325,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
847326,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
847327,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
847328,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
847329,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

In [5]:
logs['datetime'] = logs['date'] + ' ' + logs['time']
logs

,id,name,start_date,end_date,program_id,date,time,path,user_id,cohort_id,ip,datetime
0,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,2018-01-26 09:55:03
1,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,2018-01-26 09:56:02
2,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2018-01-26 09:56:05
3,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,2018-01-26 09:56:06
4,22,Teddy,2018-01-08,2018-05-17,2,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-26 09:56:24
...,...,...,...,...,...,...,...,...,...,...,...,...
847325,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,2021-04-21 16:41:51
847326,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:42:02
847327,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,2021-04-21 16:42:09
847328,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,2021-04-21 16:44:37
847329,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:44:39

In [6]:
## logs[['start_date', 'end_date', 'created_at', 'updated_at', 'date']] = pd.to_datetime(logs[['start_date', 'end_date', 'created_at', 'updated_at', 'date']])

# Failed attempt at creating datetime cols used for loop instead

In [7]:
dates = ['start_date', 'end_date', 'datetime']
for col in dates:
    logs[col] = pd.to_datetime(logs[col])

In [8]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 847330 entries, 0 to 847329
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          847330 non-null  int64
 1   name        847330 non-null  object
 2   start_date  847330 non-null  datetime64[ns]
 3   end_date    847330 non-null  datetime64[ns]
 4   program_id  847330 non-null  int64
 5   date        847330 non-null  object
 6   time        847330 non-null  object
 7   path        847329 non-null  object
 8   user_id     847330 non-null  int64
 9   cohort_id   847330 non-null  float64
 10  ip          847330 non-null  object
 11  datetime    847330 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(5)
memory usage: 84.0+ MB

In [9]:
logs[(logs.date.str.startswith('2019')) & (logs.program_id != 3) & (logs.path.str.startswith('java') == False) 
     & (logs.path.str.startswith('/') == False)]

,id,name,start_date,end_date,program_id,date,time,path,user_id,cohort_id,ip,datetime
171515,27,Yosemite,2018-11-05,2019-04-03,2,2019-01-01,15:32:24,toc,301,27.0,72.181.106.116,2019-01-01 15:32:24
171517,27,Yosemite,2018-11-05,2019-04-03,2,2019-01-01,15:32:28,jquery,301,27.0,72.181.106.116,2019-01-01 15:32:28
171518,27,Yosemite,2018-11-05,2019-04-03,2,2019-01-01,15:32:30,jquery/simple-simon,301,27.0,72.181.106.116,2019-01-01 15:32:30
171521,26,Xanadu,2018-09-17,2019-02-08,2,2019-01-01,16:38:45,mysql,262,26.0,97.105.90.179,2019-01-01 16:38:45
171543,26,Xanadu,2018-09-17,2019-02-08,2,2019-01-01,17:57:16,appendix/further-reading/java/intellij-tomcat-...,262,26.0,97.105.90.179,2019-01-01 17:57:16
...,...,...,...,...,...,...,...,...,...,...,...,...
394708,51,Deimos,2019-09-16,2020-02-27,2,2019-12-31,07:41:53,mysql/tables,489,51.0,66.25.173.125,2019-12-31 07:41:53
394715,51,Deimos,2019-09-16,2020-02-27,2,2019-12-31,09:08:28,mysql,509,51.0,108.71.183.46,2019-12-31 09:08:28
394739,33,Ceres,2019-07-15,2019-12-11,2,2019-12-31,12:36:55,html-css,460,33.0,89.187.164.152,2019-12-31 12:36:55
394742,33,Ceres,2019-07-15,2019-12-11,2,2019-12-31,15:41:11,appendix,450,33.0,72.177.232.192,2019-12-31 15:41:11
394743,33,Ceres,2019-07-15,2019-12-11,2,2019-12-31,15:41:55,appendix/further-reading/spring/devtools-confi...,450,33.0,72.177.232.192,2019-12-31 15:41:55

In [10]:
logs[(logs.date.str.startswith('2019')) & (logs.program_id == 3) & (logs.path.str.startswith('java'))]

,id,name,start_date,end_date,program_id,date,time,path,user_id,cohort_id,ip,datetime
328347,34,Bayes,2019-08-19,2020-01-30,3,2019-09-23,11:45:09,java-iii,476,34.0,97.105.19.58,2019-09-23 11:45:09
330826,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:30:44,javascript-i,476,34.0,136.50.49.145,2019-09-25 19:30:44
330828,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:31:07,javascript-i,476,34.0,136.50.49.145,2019-09-25 19:31:07
330829,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:31:11,java-i,476,34.0,136.50.49.145,2019-09-25 19:31:11
330830,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:31:12,javascript-i,476,34.0,136.50.49.145,2019-09-25 19:31:12
330831,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:31:14,java-i,476,34.0,136.50.49.145,2019-09-25 19:31:14
330832,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:31:19,java-ii,476,34.0,136.50.49.145,2019-09-25 19:31:19
330837,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:32:23,javascript-i,476,34.0,136.50.49.145,2019-09-25 19:32:23
330838,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:32:34,java-i,476,34.0,136.50.49.145,2019-09-25 19:32:34
330839,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:32:38,java-i,476,34.0,136.50.49.145,2019-09-25 19:32:38
330840,34,Bayes,2019-08-19,2020-01-30,3,2019-09-25,19:32:44,java-i/console-io,476,34.0,136.50.49.145,2019-09-25 19:32:44
377469,34,Bayes,2019-08-19,2020-01-30,3,2019-11-25,14:26:14,javascript-i,476,34.0,97.105.19.58,2019-11-25 14:26:14
377471,34,Bayes,2019-08-19,2020-01-30,3,2019-11-25,14:26:16,javascript-ii,476,34.0,97.105.19.58,2019-11-25 14:26:16
377472,34,Bayes,2019-08-19,2020-01-30,3,2019-11-25,14:26:17,java-i,476,34.0,97.105.19.58,2019-11-25 14:26:17
377473,34,Bayes,2019-08-19,2020-01-30,3,2019-11-25,14:26:18,java-ii,476,34.0,97.105.19.58,2019-11-25 14:26:18
377475,34,Bayes,2019-08-19,2020-01-30,3,2019-11-25,14:26:20,java-iii,476,34.0,97.105.19.58,2019-11-25 14:26:20
377477,34,Bayes,2019-08-19,2020-01-30,3,2019-11-25,14:26:24,java-iii,476,34.0,97.105.19.58,2019-11-25 14:26:24
378083,34,Bayes,2019-08-19,2020-01-30,3,2019-11-26,10:31:16,javascript-i/bom-and-dom/dom,467,34.0,97.105.19.58,2019-11-26 10:31:16
378098,34,Bayes,2019-08-19,2020-01-30,3,2019-11-26,10:37:35,javascript-i,476,34.0,97.105.19.58,2019-11-26 10:37:35
378099,34,Bayes,2019-08-19,2020-01-30,3,2019-11-26,10:37:39,javascript-ii,476,34.0,97.105.19.58,2019-11-26 10:37:39
378103,34,Bayes,2019-08-19,2020-01-30,3,2019-11-26,10:38:06,java-i,476,34.0,97.105.19.58,2019-11-26 10:38:06
378128,34,Bayes,2019-08-19,2020-01-30,3,2019-11-26,10:55:05,javascript-i,476,34.0,97.105.19.58,2019-11-26 10:55:05
378562,34,Bayes,2019-08-19,2020-01-30,3,2019-11-26,15:32:05,javascript-i/conditionals,472,34.0,97.105.19.58,2019-11-26 15:32:05
380297,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,10:04:40,javascript-i,467,34.0,97.105.19.58,2019-12-03 10:04:40
380299,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,10:04:48,javascript-ii,467,34.0,97.105.19.58,2019-12-03 10:04:48
380300,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,10:04:48,java-i,467,34.0,97.105.19.58,2019-12-03 10:04:48
380301,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,10:04:49,java-ii,467,34.0,97.105.19.58,2019-12-03 10:04:49
380306,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,10:05:25,java-iii,467,34.0,97.105.19.58,2019-12-03 10:05:25
380435,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,11:49:29,javascript-i,467,34.0,97.105.19.58,2019-12-03 11:49:29
380438,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,11:49:33,javascript-ii,467,34.0,97.105.19.58,2019-12-03 11:49:33
380439,34,Bayes,2019-08-19,2020-01-30,3,2019-12-03,11:49:35,java-ii,467,34.0,97.105.19.58,2019-12-03 11:49:35
387753,34,Bayes,2019-08-19,2020-01-30,3,2019-12-14,16:46:24,javascript-i,476,34.0,136.50.49.145,2019-12-14 16:46:24

In [11]:
logs[(logs.program_id == 1) & (logs.date > logs.end_date) 
     & (logs.path.str.startswith(('/', 'index', 'search'))== False)].path.value_counts().head()

javascript-i    736
html-css        542
spring          501
java-iii        479
java-ii         454
Name: path, dtype: int64

In [12]:
logs[(logs.program_id == 2) & (logs.date > logs.end_date) 
     & (logs.path.str.startswith(('/', 'index', 'search'))== False)].path.value_counts().head()

javascript-i    4229
spring          3760
html-css        3136
java-iii        3058
java-ii         2985
Name: path, dtype: int64

In [13]:
logs[(logs.program_id == 3) & (logs.date > logs.end_date) 
     & (logs.path.str.startswith(('/', 'index', 'search'))== False)].path.value_counts().head()

sql/mysql-overview                                275
classification/overview                           266
classification/scale_features_or_not.svg          219
anomaly-detection/AnomalyDetectionCartoon.jpeg    193
anomaly-detection/overview                        191
Name: path, dtype: int64

In [14]:
logs[(logs.program_id == 4) & (logs.date > logs.end_date)].path.value_counts().head(20)

content/html-css                               2
/                                              1
content/html-css/gitbook/images/favicon.ico    1
content/html-css/introduction.html             1
Name: path, dtype: int64

nums = []

for i in logs['path']:
    
    if i.startswith(tuple(['/', 'index', 'html'])):
        continue
    else:
        nums.append(i)
        
nums.value_counts()

- Doesnt work because trying to loop through a dataframe 
- NEVER LOOP THROUGH A DATAFRAME

In [15]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 847330 entries, 0 to 847329
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          847330 non-null  int64
 1   name        847330 non-null  object
 2   start_date  847330 non-null  datetime64[ns]
 3   end_date    847330 non-null  datetime64[ns]
 4   program_id  847330 non-null  int64
 5   date        847330 non-null  object
 6   time        847330 non-null  object
 7   path        847329 non-null  object
 8   user_id     847330 non-null  int64
 9   cohort_id   847330 non-null  float64
 10  ip          847330 non-null  object
 11  datetime    847330 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), int64(3), object(5)
memory usage: 84.0+ MB

In [16]:
logs.isna().sum()

id            0
name          0
start_date    0
end_date      0
program_id    0
date          0
time          0
path          1
user_id       0
cohort_id     0
ip            0
datetime      0
dtype: int64

In [17]:
logs

,id,name,start_date,end_date,program_id,date,time,path,user_id,cohort_id,ip,datetime
0,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,2018-01-26 09:55:03
1,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,2018-01-26 09:56:02
2,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2018-01-26 09:56:05
3,8,Hampton,2015-09-22,2016-02-06,1,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,2018-01-26 09:56:06
4,22,Teddy,2018-01-08,2018-05-17,2,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-26 09:56:24
...,...,...,...,...,...,...,...,...,...,...,...,...
847325,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,2021-04-21 16:41:51
847326,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:42:02
847327,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,2021-04-21 16:42:09
847328,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,2021-04-21 16:44:37
847329,28,Staff,2014-02-04,2014-02-04,2,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:44:39

In [18]:
logs.isna().sum()

id            0
name          0
start_date    0
end_date      0
program_id    0
date          0
time          0
path          1
user_id       0
cohort_id     0
ip            0
datetime      0
dtype: int64

In [19]:
logs.loc[logs.path.isnull()]

,id,name,start_date,end_date,program_id,date,time,path,user_id,cohort_id,ip,datetime
478630,55,Curie,2020-02-03,2020-07-07,3,2020-04-08,09:25:18,NaN,586,55.0,72.177.240.51,2020-04-08 09:25:18

In [20]:
logs[logs.id == 30]

Empty DataFrame
Columns: [id, name, start_date, end_date, program_id, date, time, path, user_id, cohort_id, ip, datetime]
Index: []

In [21]:
(logs[(logs.id == 8) 
     & (logs.path.str.startswith(('/', 'index', 'search')) == False)].path
 .groupby(logs.path).count().sort_values(ascending = True)).head(50)

path
0_Classification_Algorithms                                             1
handouts                                                                1
git/working-in-teams                                                    1
git/merge-conflict-demo                                                 1
git/cli                                                                 1
git/branching                                                           1
git                                                                     1
examples/javascript/inventory.json                                      1
examples/java/MoviesArray.java                                          1
css                                                                     1
content/php_iv/php-with-mysql/gitbook/images/favicon.ico                1
content/php_iv/php-with-mysql                                           1
content/php_iv/gitbook/images/favicon.ico                               1
content/php_iv/exceptions/gitbook/images/favicon.ico                    1
content/php_iv/exceptions                                               1
content/php_iv/classes-and-objects-ii/late-static-binding.html          1
content/php_iv/classes-and-objects-ii/gitbook/images/favicon.ico        1
content/php_iv/classes-and-objects-ii/build-a-model.html                1
content/laravel/more-features/readme.html                               1
content/laravel/quickstart/eloquent-orm.html                            1
content/laravel/quickstart/gitbook/images/favicon.ico                   1
content/mysql/relationships/joins.html                                  1
content/php_i/types-and-variables-i                                     1
content/php_i/types-and-variables-i/gitbook/images/favicon.ico          1
html-css/bootstrap-grid-system                                          1
content/php_i/types-and-variables-ii/gitbook/images/favicon.ico         1
content/php_i/types-and-variables-ii/intro-to-strings-continued.html    1
content/php_ii                                                          1
content/php_ii/gitbook/images/favicon.ico                               1
content/php_iii/classes-and-objects-i                                   1
content/php_iii/classes-and-objects-i/gitbook/images/favicon.ico        1
content/php_iv                                                          1
content/php_i/types-and-variables-ii/intro-to-arrays.html               1
html-css/css-i                                                          1
html-css/media-queries                                                  1
html/forms                                                              1
prework/cli/01-intro                                                    1
prework/cli/07-editing-files-with-vim                                   1
prework/fundamentals/variable                                           1
prework/versioning/github                                               1
slides/console_io                                                       1
slides/exceptions                                                       1
mysql/relationships/indexes                                             1
slides/lambda_expressions                                               1
spring/extra-features/error-pages                                       1
spring/security                                                         1
student                                                                 1
student/create                                                          1
students/468/notes                                                      1
teams/13                                                                1
Name: path, dtype: int64

In [25]:
for i in logs['name']:
    coh = logs[(logs.name == i)
               & (logs.path.str.startswith(('/', 'index', 'search'))== False)].groupby([logs.name]).path.count().sort_values().head(1)
    print(coh)
    
    print()

name
Hampton    1492
Name: path, dtype: int64

name
Hampton    1492
Name: path, dtype: int64

name
Hampton    1492
Name: path, dtype: int64

name
Hampton    1492
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Arches    8218
Name: path, dtype: int64

name
Arches    8218
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Arches    8218
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Teddy    28995
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

name
Sequoia    6769
Name: path, dtype: int64

KeyboardInterrupt:

In [36]:
logs[logs.cohort_id == 8].path.groupby([logs.path, logs.name]).count().sort_values(ascending = True).head(1)

path                       name
uploads/58a217a705bde.jpg  Hampton    1
Name: path, dtype: int64

In [42]:
coh = logs.cohort_id.unique()

In [65]:
for i in coh:
    a = (logs[(logs.cohort_id == i) 
             & (logs.path.str.startswith(('/', 'uploads', 'wp', '%', 'index'))== False)].path.groupby([logs.path, logs.name])
    .count().sort_values(ascending = True).head(1))
    print(a)

path                         name
0_Classification_Algorithms  Hampton    1
Name: path, dtype: int64
path                                    name
1-fundamentals/1-fundamentals-overview  Teddy    1
Name: path, dtype: int64
path                   name
web-design/ux/purpose  Sequoia    1
Name: path, dtype: int64
path                         name
0_Classification_Algorithms  Arches    1
Name: path, dtype: int64
path                                 name
javascript-i/introduction/operators  Niagara    1
Name: path, dtype: int64
path             name
1._Fundamentals  Pinnacles    1
Name: path, dtype: int64
path                                                     name
content/mysql/sample-database/setting-up-sample-db.html  Quincy    1
Name: path, dtype: int64
path                                                         name
content/php_ii/control-structures-ii/foreach-with-keys.html  Kings    1
Name: path, dtype: int64
path                                      name
1-fundamentals/1.1-intro-to-data-science  Lassen    1
Name: path, dtype: int64
path                    name
html-css/css-i/flexbox  Mammoth    1
Name: path, dtype: int64
path                                        name
content/php_iii/gitbook/images/favicon.ico  Glacier    1
Name: path, dtype: int64
path                      name
mkdocs/search_index.json  Denali    1
Name: path, dtype: int64
path                         name
appendix/git/intellij-intro  Joshua    1
Name: path, dtype: int64
path                               name
spring/extra-features/file-upload  Olympic    1
Name: path, dtype: int64
path                                    name
1-fundamentals/1-fundamentals-overview  Ulysses    1
Name: path, dtype: int64
path         name
content/git  Badlands    1
Name: path, dtype: int64
path                                         name
content/html-css/gitbook/images/favicon.ico  Apollo    1
Name: path, dtype: int64
path                                 name
javascript-i/introduction/operators  Ike     1
Name: path, dtype: int64
path  name
.git  Voyageurs    1
Name: path, dtype: int64
path                   name
web-design/ux/purpose  Wrangell    1
Name: path, dtype: int64
path          name
examples/css  Xanadu    1
Name: path, dtype: int64
path               name
11._DistributedML  Franklin    1
Name: path, dtype: int64
path                          name
1-fundamentals/pipeline-demo  Yosemite    1
Name: path, dtype: int64
path  name
'     Staff    1
Name: path, dtype: int64
path                                    name
1-fundamentals/1-fundamentals-overview  Zion    1
Name: path, dtype: int64
path                                      name
1-fundamentals/1.1-intro-to-data-science  Andromeda    1
Name: path, dtype: int64
path              name
content/examples  Betelgeuse    1
Name: path, dtype: int64
path                                                             name
content/php_i/types-and-variables-ii/gitbook/images/favicon.ico  Ceres    1
Name: path, dtype: int64
path    name
viz.py  Bayes    1
Name: path, dtype: int64
path                                name
1-fundamentals/2.2-excel-functions  Deimos    1
Name: path, dtype: int64
path    name
java-1  Europa    1
Name: path, dtype: int64
path                                                   name
appendix/professional-development/job-search-workshop  Fortuna    1
Name: path, dtype: int64
path                              name
,%20https://github.com/RaulCPena  Curie    1
Name: path, dtype: int64
path                                name
appendix/mock-behavioral-questions  Apex    1
Name: path, dtype: int64
path    name
alumni  Ganymede    1
Name: path, dtype: int64
Series([], Name: path, dtype: int64)
path      name
repo-doc  Hyperion    1
Name: path, dtype: int64
path        name
.gitignore  Darden    1
Name: path, dtype: int64
path         name
RESTful-api  Bash    1
Name: path, dtype: int64
path                   name
javascript-i/html-css  Jupiter    1
Name: path, dtype: int64
path                         name
ajax/requests-and-responses  Kalypso    1
Name: path, dtype: int64
path  name
jdbc  Luna    1
Name: path, dtype: int64
path        name
vocabulary  Easley    1
Name: path, dtype: int64
path                          name
introduction/primitive-types  Marco    1
Name: path, dtype: int64
path   name
extra  Neptune    1
Name: path, dtype: int64
path   name
where  Florence    1
Name: path, dtype: int64
path                 name
java-ii/annotations  Oberon    1
Name: path, dtype: int64

In [66]:
logs.path.value_counts()[logs.path.value_counts() > 5].sort_values(ascending = True).head(5)

content/appendix/further-reading/gitbook/images/favicon.ico    6
2.03.06_CorrelationTests                                       6
servlets                                                       6
8.7_Deliver                                                    6
appendix/cli/7-more-topics/null                                6
Name: path, dtype: int64

In [68]:
for i in coh:
    a = (logs.path.value_counts()[(logs.cohort_id == i) 
             & (logs.path.str.startswith(('/', 'uploads', 'wp', '%', 'index'))== False) 
                                  & (logs.path.value_counts() > 5)].groupby([logs.path, logs.name])
    .count().sort_values(ascending = True).head(1))
    print(a)

Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)
Series([], Name: path, dtype: int64)

In [78]:
for i in coh:
    a = logs[(logs.cohort_id == i) & (logs.path.str.startswith(('/', 'uploads', 'wp', '%', 'index'))== False)].path.groupby([logs.path, logs.name])
    b = a.value_counts()[a.value_counts() > 5].sort_values(ascending = True).head(1)
    print(b)

path                   name     path
mysql/sample-database  Hampton  mysql/sample-database    6
Name: path, dtype: int64
path                       name   path
prework/cli/03-file-paths  Teddy  prework/cli/03-file-paths    6
Name: path, dtype: int64
path                                   name     path
examples/javascript/dom-query-js.html  Sequoia  examples/javascript/dom-query-js.html    6
Name: path, dtype: int64
path                                      name    path
prework/cli/04-navigating-the-filesystem  Arches  prework/cli/04-navigating-the-filesystem    6
Name: path, dtype: int64
path                    name     path
appendix/documentation  Niagara  appendix/documentation    6
Name: path, dtype: int64
path                                 name       path
javascript-i/bom-and-dom/dom-events  Pinnacles  javascript-i/bom-and-dom/dom-events    6
Name: path, dtype: int64
path      name    path
appendix  Quincy  appendix    6
Name: path, dtype: int64
path                                 name   path
content/javascript_ii/ajax-api.html  Kings  content/javascript_ii/ajax-api.html    6
Name: path, dtype: int64
path                                               name    path
content/html-css/css-i/gitbook/images/favicon.ico  Lassen  content/html-css/css-i/gitbook/images/favicon.ico    6
Name: path, dtype: int64
path                                  name     path
java-ii/inheritance-and-polymorphism  Mammoth  java-ii/inheritance-and-polymorphism    6
Name: path, dtype: int64
path                                           name     path
content/javascript/gitbook/images/favicon.ico  Glacier  content/javascript/gitbook/images/favicon.ico    6
Name: path, dtype: int64
Series([], Name: path, dtype: int64)
path         name    path
content/git  Joshua  content/git    6
Name: path, dtype: int64
path                      name     path
content/php_iv/ad-lister  Olympic  content/php_iv/ad-lister    6
Name: path, dtype: int64
path                                      name     path
content/php_iii/include-and-require.html  Ulysses  content/php_iii/include-and-require.html    6
Name: path, dtype: int64
path                         name      path
content/php_ii/command-line  Badlands  content/php_ii/command-line    6
Name: path, dtype: int64
Series([], Name: path, dtype: int64)
path            name  path
html-css/css-i  Ike   html-css/css-i    6
Name: path, dtype: int64
path            name       path
content/php_ii  Voyageurs  content/php_ii    6
Name: path, dtype: int64
path                                   name      path
examples/postwork/data_extraction.zip  Wrangell  examples/postwork/data_extraction.zip    6
Name: path, dtype: int64
path                         name    path
appendix/angular/templating  Xanadu  appendix/angular/templating    6
Name: path, dtype: int64
path               name      path
javascript-ii/es6  Franklin  javascript-ii/es6    10
Name: path, dtype: int64
path                                       name      path
content/php_i/intro-via-interactive-shell  Yosemite  content/php_i/intro-via-interactive-shell    6
Name: path, dtype: int64
path              name   path
BuiltIn_Datasets  Staff  BuiltIn_Datasets    6
Name: path, dtype: int64
path                         name  path
prework/cli/06-moving-files  Zion  prework/cli/06-moving-files    6
Name: path, dtype: int64
path                                            name       path
appendix/professional-development/cover-letter  Andromeda  appendix/professional-development/cover-letter    6
Name: path, dtype: int64
path                                                                    name        path
content/php_i/intro-via-interactive-shell/doing-math-in-the-shell.html  Betelgeuse  content/php_i/intro-via-interactive-shell/doing-math-in-the-shell.html    6
Name: path, dtype: int64
path                       name   path
html-css/css-i/css-resets  Ceres  html-css/css-i/css-resets    6
Name: path, dtype: int64
path                     name   path
nlp/regular-expressions  Bayes  nlp/regular-expressions    6
Name: path, dtype: int64
path                         name    path
prework/cli/06-moving-files  Deimos  prework/cli/06-moving-files    6
Name: path, dtype: int64
path                                   name    path
examples/postwork/data_extraction.zip  Europa  examples/postwork/data_extraction.zip    6
Name: path, dtype: int64
path                        name     path
appendix/spring/pagination  Fortuna  appendix/spring/pagination    6
Name: path, dtype: int64
path                          name   path
distributed-ml/ml-with-spark  Curie  distributed-ml/ml-with-spark    6
Name: path, dtype: int64
path                         name  path
appendix/angular/templating  Apex  appendix/angular/templating    6
Name: path, dtype: int64
path           name      path
slides/arrays  Ganymede  slides/arrays    7
Name: path, dtype: int64
Series([], Name: path, dtype: int64)
path                                      name      path
appendix/further-reading/javascript/this  Hyperion  appendix/further-reading/javascript/this    6
Name: path, dtype: int64
path            name    path
5-stats/viz.py  Darden  5-stats/viz.py    6
Name: path, dtype: int64
path                      name  path
web-design/ui/typography  Bash  web-design/ui/typography    6
Name: path, dtype: int64
path                                         name     path
appendix/further-reading/security-use-cases  Jupiter  appendix/further-reading/security-use-cases    6
Name: path, dtype: int64
path                      name     path
web-design/ui/typography  Kalypso  web-design/ui/typography    6
Name: path, dtype: int64
path                                name  path
slides/object_oriented_programming  Luna  slides/object_oriented_programming    6
Name: path, dtype: int64
path                            name    path
advanced-topics/json-responses  Easley  advanced-topics/json-responses    6
Name: path, dtype: int64
path                  name   path
web-design/ux/layout  Marco  web-design/ux/layout    6
Name: path, dtype: int64
path                                 name     path
javascript-i/bom-and-dom/dom-events  Neptune  javascript-i/bom-and-dom/dom-events    6
Name: path, dtype: int64
path                           name      path
appendix/ds-environment-setup  Florence  appendix/ds-environment-setup    6
Name: path, dtype: int64
path                      name    path
search/search_index.json  Oberon  search/search_index.json    9
Name: path, dtype: int64